MYSQL_URL=host.docker.internal
MYSQL_ROOT_PASSWORD=admin123
MYSQL_PASSWORD=123456
eureka.client.serviceUrl.defaultZone=http://host.docker.internal:8761/eureka
USER_DB=user_db
BRAND_DB=brand_db
CAMPAIGN_DB=campaign_db
GAME_DB=game_db
VOUCHER_DB=voucher_db
MYSQL_MULTIPLE_DATABASES=user_db:123456,brand_db:123456,campaign_db:123456,game_db:123456,voucher_db:123456
MONGO_URL=host.docker.internal
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=123456
NOTIFICATION_DB=notification_db
IMAGE_DB=image_db
MONGO_MULTIPLE_DATABASES=notification_db:123456,image_db:123456

MONGODB_URI=mongodb+srv://littleboy0610:123@cluster0.cqsow.mongodb.net/auth_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=aHR0cHM6Ly93d3cueW91YmlsdW1hbWVyaWNhLmNvbS9sb2dpbi8=
MAIL_ACCOUNT=financespps0012@gmail.com
MAIL_PASSWORD=bkdx keiz avpb mjxb
REDIS_HOST=redis-18893.c241.us-east-1-4.ec2.redns.redis-cloud.com
REDIS_PORT=18893
REDIS_PASSWORD=pSIGEM05kYt2JBvtZMaCYTCgrvFKKHf0
CLIENT_ID=
CLIENT_SECRET=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
REDIRECT_URI=http://localhost:3000/authenticate