datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033"
    stacksize=1048576
    server_version="8.0.33"  # Specify exact version
    connect_timeout_server=3000
    monitor_username="monitor_user"
    monitor_password="monitor_password"
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
    monitor_read_only_timeout=500
    ping_interval_server_msec=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
    connect_retries_on_failure=10
    have_ssl=false
    ssl_p2s_ca=""
    ssl_p2s_cert=""
    ssl_p2s_key=""
    ssl_p2s_cipher=""
    transaction_persistent=true
    client_found_rows=true
}

mysql_servers =
(
    {
        address="mysql-primary"
        port=3306
        hostgroup=1
        max_connections=200
        weight=1
    },
    {
        address="mysql-replica-1"
        port=3306
        hostgroup=2
        max_connections=200
        weight=1
    },
    {
        address="mysql-replica-2"
        port=3306
        hostgroup=2
        max_connections=200
        weight=1
    }
)

mysql_users =
(
    {
        username="user_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    },{
        username="auth_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    },{
        username="brand_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    },{
        username="campaign_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    },{
        username="game_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    },{
        username="voucher_db"
        password="123456"
        default_hostgroup=1
        max_connections=1000
        transaction_persistent=true
        active=1
        attributes="{\"isolation_level\":\"REPEATABLE_READ\"}"
    }
)


mysql_query_rules =
(
    {
        rule_id=1
        active=1
        match_digest="^SELECT.*"
        destination_hostgroup=2
        apply=1
    },
    {
        rule_id=2
        active=1
        match_digest="^(INSERT|UPDATE|DELETE).*"
        destination_hostgroup=1
        apply=1
    }
)
